img{
    width: 100%;
    height: auto;
}
body{
    width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    position: relative;
    
}
footer{
    background-color: black;
    text-align: center;
    color: aliceblue;
    
}

.nav-name{
    color: blue;
}

.page-container{
    padding: 24px;
}